{% extends 'base.html.twig' %}

{% block body %}

<div class="hero-heading">
	<h1>{{ department.name }}</h1>
</div>	

<p><a href="/directory">&larr; Return to search</a></p>

{% autoescape false %}
  <p>{{ department.description }}</p>
{% endautoescape %}

<div id="render-cards">
{% for person in department.staffMember %}
	{{ include('default/card-data.html.twig') }}
{% endfor %}
</div>

{% endblock %}