{% extends 'base.html.twig' %}

{% block title %}School Construction - Staff Directory{% endblock %}

{% block heading %}School Construction{% endblock %}

{% block body %}

<p>Description on the assessment department</p>

  {{ include('default/staff-card--render.html.twig', { 'staff': staff }) }}

{% endblock %}