<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" type='text/css'
      href="http://s3.amazonaws.com/hcpss.web.site/images/normalize.css">
    <link rel="stylesheet" type='text/css'
      href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
      href="https://s3.amazonaws.com/hcpss.web.site/fonts/fira.css" >
    {% block stylesheets %}
        <link href="{{ asset('css/main.min.css') }}" rel="stylesheet" />
    {% endblock %}
  </head>
  <body>
    <div class="container page group">
      <main class="main">
        <div class="hero-heading">
            <h1>{% block heading %}Search our Staff Directory{% endblock %}</h1>
        </div>

        {{ render(controller('AppBundle:DeptOptions:deptOptList')) }}

        {% block body %}{% endblock %}
      </main>
    </div>
    {% block javascripts %}{% endblock %}
  </body>
</html>
