{% extends 'default/index.html.twig' %}

{% block title %}HCPSS Staff Directory{% endblock %}

{% block body %}
    <div class="hero-heading directory-heading">
        <h1>Department of Education Staff&nbsp;Directory</h1>
    </div>
    
    <p>Search below for Central Office staff contact information via name, 
    department or phone number. The directory is updated weekly.</p>
    
    <p>Looking for school-based staff? Visit 
    <a href="http://www.hcpss.org/schools/">school websites</a> for school staff 
    contact information.</p>
    
    <section class="contents">
        <h2>Using our directory</h2>
        
        <p>Search for a full or partial name of an HCPSS staff member.</p>
    
        <form class="contents dir-search smtb-mg" method="GET">
            <div class="contents dir-search__name--input">
                <div class="search-field">
                    <label class="search-toggle-label" for="search-toggle">
                        <strong>Search for:</strong>
                    </label>
                </div>
                <div class="search-field" style="margin-right:1em;">    
                    <select id="search-toggle" name="search-toggle">
                        <option value="staff">Staff</option>
                        <option value="dept">Department</option>
                        <option value="phone">Phone</option>
                    </select>
                </div>
                <div class="search-field">
                    <label for="search">
                        <span><strong>Search:</strong></span>
                    </label>
                </div>
                
                <input 
                    type="text" 
                    name="search" 
                    id="search-field" 
                    placeholder="Search our Directory">
    
                <div class="search-field">
                    <button 
                        id="submit" 
                        style="
                            height:           30px;
                            background-color: #FECC6A;
                            color:            black;
                            border-radius:    5px;
                        ">
                        <i class="fa fa-search" aria-hidden="true"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </section>
    
    <div id="result-output"></div>
        
    <div id="render-cards"></div>
    
    <section class="contents">
        <p><strong>Looking for a department?</strong> See a 
        <a href="departments">list of all HCPSS departments</a> and their staff 
        members. In addition, view our 
        <a href="http://www.hcpss.org/f/aboutus/orgcharts.pdf">Organizational 
        Charts</a> for a breakdown of the HCPSS staffing structure.</p>   
    </section>
{% endblock %}
