{% extends 'base.html.twig' %}

{% block title %}HCPSS Staff Departments - Staff Directory{% endblock %}

{% block heading %}HCPSS Departments{% endblock %}

{% block body %}

  <ul>
    {% for name in staff %}
    	<li><a href="{{ path('department', { 'slug': name.department|lower|replace({' ': '-'}) }) }}">{{ name.department }}</a></li>
    {% endfor %}
  </ul>

{% endblock %}