{% extends 'base.html.twig' %}

{% block title %}HCPSS Staff Departments - Staff Directory{% endblock %}

{% block heading %}HCPSS Departments{% endblock %}

{% block body %}

  <ul>
    {% for dept in department %}
    	<li><a href="{{ dept.name }}">{{ dept.name }}</a></li>
    {% endfor %}
  </ul>

{% endblock %}