{% extends 'base.html.twig' %}

{% block title %}HCPSS Staff Departments - Staff Directory{% endblock %}

{% block body %}

	<div class="hero-heading">
		<h1>HCPSS Departments</h1>
	</div>

  <ul>
    {% for dept in department %}
    	<li><a href="{{ dept.name }}">{{ dept.name }}</a></li>
    {% endfor %}
  </ul>

{% endblock %}