{% extends 'base.html.twig' %}

{% block title %}HCPSS Directory{% endblock %}

{% block body %}

<div class="contents dir-search__results">
    <section id="dir-search__results-output">
        <h2>5 Matches</h2>
        <section class="dir-search__entry">
            <div class="dir-search__entry--name">
                <h3>Mark Metzbower</h3>
            </div>
            <div class="dir-search__entry--contact">
                <p>Print Services</p>
                <p><strong>Position:</strong> Press Operator</p>
                <p><strong>Location:</strong> <a href="">Applications and Research Lab (ARL) <i class="fa fa-map-marker" aria-hidden="true"></i></a></p>
            </div>              
        </section>
    </section>
</div>

{% endblock %}
