{% extends 'base.html.twig' %}

{% block title %}HCPSS Staff Directory - BETA{% endblock %}

{% block body %}

<div class="hero-heading">
<h1>Search our Staff Directory - <span style="color:green;">BETA</span></h1>
</div>

  <section class="contents">
    <h2>Using our directory</h2>
    <p>Search for a full or partial name of an HCPSS staff member.</p>

    <form class="contents dir-search smtb-mg" method="GET">
      <div class="contents dir-search__name--input">
        <label class="search-toggle-label" for="search-toggle"><strong>Search for:</strong></label>
          <select id="search-toggle" name="search-toggle">
            <option value="staff">Staff</option>
            <option value="dept">Department</option>
          </select>        
        <label for="search">
          <span><strong>Search:</strong></span>
        </label>

        <input type="text" name="search" id="search-field" placeholder="Search our Directory">

        <button id="submit" style="height:30px;background-color:#FECC6A;color:black;border-radius:5px;"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
      </div>
    </form>
    
  </section>

  <div id="result-output"></div>
    
  <div id="render-cards">
      
  </div>

  <section class="contents">
    <div class="col-left">
      <p><strong>Looking for a school-based staff member?</strong> Use our <a href="http://www.hcpss.org/schools/">interactive school directory</a> for school websites and their phone numbers.</p>
    </div>
    <div class="col-right">
      <p><strong>Looking for a department?</strong> See a <a href="/directory/departments">list of all HCPSS departments</a> and their staff members. In addition, view our <a href="http://www.hcpss.org/f/aboutus/orgcharts.pdf">Organizational Charts</a> for a breakdown of the HCPSS staffing structure.</p>   
    </div>
  </section>  

{% endblock %}
