{% extends 'base.html.twig' %}

{% block title %}HCPSS Staff Directory{% endblock %}

{% block body %}

<div class="hero-heading">
<h1>Search our Staff Directory</h1>
</div>

  <section class="contents">
    <h2>Using our directory</h2>
    <p>Search for a full or partial name of an HCPSS staff member.</p>

    <form class="contents dir-search smtb-mg" method="GET">
      <div class="contents dir-search__name--input">
         <label for="given-name">
          <span><strong>Staff Name:</strong></span>
         </label>
        <input type="text" name="given-name" id="search-field" placeholder="Search by first or last name">
        <button id="dir-submit" style="height:30px;background-color:#FECC6A;color:black;border-radius:5px;"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
        <p style="font-size:18px;">Looking for a department? <a id="dept-switch" href="#">Search by department name</a></p>
      </div>

      <div class="contents dir-search__dept--input">
        <label for="given-dept">
          <span><strong>Department:</strong></span>
        </label>
        <input type="text" name="given-dept" id="search-field2" placeholder="Search by department name">
        <button id="dept-submit" style="height:30px;background-color:#FECC6A;color:black;border-radius:5px;"><i class="fa fa-search" aria-hidden="true"></i> Search</button>        
        <p style="font-size:18px;">Looking for a staff member by first or last name? <a id="staff-switch" href="#">Search by staff name</a></p>
      </div> 
    </form>
    
  </section>

  <div id="result-output"></div>
    
  <div id="render-cards">
      
  </div>

  <section class="contents">
    <div class="col-left">
      <p><strong>Looking for a school-based staff member?</strong> Use our <a href="http://www.hcpss.org/schools/">interactive school directory</a> for school websites and their phone numbers.</p>
    </div>
    <div class="col-right">
      <p><strong>Looking for a department?</strong> See a <a href="/directory/departments">list of all HCPSS departments</a> and their staff members. In addition, view our <a href="http://www.hcpss.org/f/aboutus/orgcharts.pdf">Organizational Charts</a> for a breakdown of the HCPSS staffing structure.</p>   
    </div>
  </section>  

{% endblock %}