{% extends 'default/index.html.twig' %}

{% block body %}

<div class="hero-heading">
	<h1>{{ department.name }}</h1>
</div>	

<section class="contents">
<div class="col-left">
<p><a href="/">&larr; Return to search</a></p>
</div>
<div class="col-right">
<p style="float:right;"><a href="http://www.hcpss.org/f/aboutus/orgcharts.pdf">View the HCPSS Organizational Charts</a> <i class="fa fa-file-pdf-o" aria-hidden="true"></i></p>
</div>
</section>

<section class="contents">
{% autoescape false %}	
	<p>{{ department.topPageDesc }}</p>
{% endautoescape %}
</section>

<div id="render-cards">
{% for person in department.staffType %}
    {{ include('default/card-data-search-page.html.twig') }}
{% endfor %}
</div>

{% autoescape false %}
  <p>{{ department.description }}</p>
{% endautoescape %}

{% endblock %}