{% extends 'card/card.html.twig' %}

{% block card_name %}{{ department.name }}{% endblock %}

{% block card_body %}
    <p>
        Main phone: 
        {% if department.phone != null %}
            {{ department.phone }}
        {% else %}
            410-313-6600
        {% endif %}
    </p>
        
    {{ include('default/location-data.html.twig', {
        'location': department.location
    }) }}
        
    <p><a href="department/{{ department.slug }}">View all department staff</a></p>
{% endblock %}
