{% extends 'base.html.twig' %}

{% block title %}HCPSS Staff Departments - Staff Directory{% endblock %}

{% block body %}
	<div class="hero-heading">
		<h1>HCPSS Departments</h1>
	</div>

	<p><a href="/">&larr; Return to search</a></p>

  	<ul>
        {% for dept in departments %}
    	<li>
    		<a href="{{ path('department_show', {'slug': dept.slug}) }}">{{ dept.name }}</a>
    	</li>
        {% endfor %}
  	</ul>
{% endblock %}
